@import '../../../variables.scss';
@import '../../../styles.scss';

h4{
    align-items: center; 
    display: inline-block;
    margin-right: 10px;
} 

.toggle-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .toggle-checkbox input {
    display: none;
  }
  
  .toggle-switch {
    width: 43px;
    height: 27px;
    background: $gbs-color-ghost;
    border-radius: 15px;
    position: relative;
    transition: background 0.3s;
    margin-right: 8px;
    border: 1px solid $gbs-color-star-dust;
  }
  
  .toggle-switch::before {
    content: "−";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: $gbs-color-ghost;
    position: absolute;
    width: 20px;
    height: 20px;
    background: $gbs-color-citron;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s, background 0.3s, content 0.3s;
  }
  
  input:checked + .toggle-switch {
    background: $gbs-color-strong-blue;
  }
  
  input:checked + .toggle-switch::before {
    content: "✓";
    transform: translateX(16px);
    background: $gbs-color-mercury;
    color: $gbs-color-strong-blue;
  }


div[ng-reflect-ng-if] {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: visible !important; 
}


::ng-deep .mat-mdc-text-field-wrapper {
  height: 48px !important; 
  margin-top: 10px !important;
  flex: auto;
  will-change: auto;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) 
.mat-mdc-form-field-input-control.mdc-text-field__input, 
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  margin-top: 5px;
}

.naslov {
  display: flex;
  flex-wrap: wrap;;
  width: 100%;

}
  
.colorLabel{
  color: red;
  }

label {
  display: block;
  margin-bottom: 4px; 
  font-weight: 500;
  font-size: 14px;
}

gbs-input, gbs-dropdown {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
 
@media (max-width: 768px) {
  .row > [class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .naslov {
    flex-direction: column;
    align-items: flex-start;

    label.toggle-checkbox {
      margin-top: 10px;
    }
  }
}

.orange-checkbox {

  ::ng-deep input[type="checkbox"] {
    // accent-color: $gbs-color-eucalyptus;
    width: 16px;
    height: 16px;
    // margin-right: 4px;
    cursor: pointer;
    flex-shrink: 0;
  }
}

/* Manja labela */
.small-label {
  font-size: 17px;
  line-height: 1; /* uskladi visinu linije sa checkboxom */
}
