<h2 class="text-center">Unesite podatke o putnicima</h2>
<div class="container-fluid d-flex justify-content-center mt-4">
  <div class="info-summary-box p-3 rounded bg-white border shadow-sm">
    <div class="info-content">
      <p class="travel-period">
        <strong>Period:</strong> {{ summaryData.dateFrom + ' do ' + summaryData.dateUntil }}
      </p>
      <p class="coverage">
        <strong>Pokriće:</strong> {{ summaryData.cover || "" }} EUR &nbsp;
        <strong>Do 19:</strong> {{ summaryData.passengers19 || 0 }} |
        <strong>20 do 70:</strong> {{ summaryData.passengers70 || 0 }} |
        <strong>Od 71:</strong> {{ summaryData.passengers71 || 0 }}
      </p>
      <p class="coverage">
        <strong>Ukupno:</strong> {{ summaryData.finalAmount || 0 }} RSD
      </p>
    </div>
    <div class="edit-wrapper">
        <a style="cursor: pointer; width: 65px;" class="text-primary" (click)="redirectToEdit()">Izmeni <i class="ph-thin ph-pencil"></i></a>
    </div>
  </div>
</div>
