@import '../../../variables.scss';

.cards-container {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.card {
  background: $gbs-color-white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 190px;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .16) !important;
  cursor: pointer;

  &.active {
    border: 2px solid $gbs-color-orange;
    background: $gbs-color-linen;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 3px;
  }

  h4 {
    font-size: 14px;
    color: $gbs-color-citron;
  }

  p {
    font-size: 12px;
    color: $gbs-color-star-dust;
    margin-bottom: 1.5rem;
    text-align: center;
    white-space: pre-wrap; /* Omogućava prelamanje teksta */
    word-wrap: break-word; /* Osigurava prelamanje dugih reči */
    display: block; /* Omogućava da se ponaša kao blok element */
    max-width: 90%; /* Ograničava širinu teksta da bi se prelamanje desilo */
    margin: 0 auto; /* Centriranje */
    
  }

  strong {
    font-weight: bold;
    font-size: 1.5em; /* Uvećava cifru */
    margin-top: 10px; /* Dodaje razmak iznad */
    display: block; /* Osigurava da broj bude u posebnom redu */
    color: $gbs-color-onyx;
  }

  .shifted-strong{
    margin-top: 25px;
    color: $gbs-color-onyx;
    font-weight: bold;
  }

  .old-price {
    display: block;
    font-size: 14px;
    color: $gbs-color-star-dust;
    text-decoration: line-through;
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}