/.vs
/Globos.Client.TravelAssistance/bin
/Globos.Client.TravelAssistance/obj

# Compiled output
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/dist
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/tmp
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/out-tsc
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/bazel-out

# Node
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.idea/
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.project
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.classpath
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.c9/
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/*.launch
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.settings/
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/*.sublime-workspace

# Visual Studio Code
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.vscode/*
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/!.vscode/settings.json
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/!.vscode/tasks.json
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/!.vscode/launch.json
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/!.vscode/extensions.json
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.history/*

# Miscellaneous
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/.angular/cache
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/*.sass-cache/
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/connect.lock
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/coverage
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/libpeerconnection.log
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/testem.log
/Globos.Client.TravelAssistance/Scripts/globos-travelAssistance/typings

# System files
.DS_Store
Thumbs.db
/Globos.Client.WebShop/Globos.Client.WebShop.csproj.user
