@use '@angular/material' as mat;
@include mat.core();

$globos-webshop-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($globos-webshop-theme);
}
$globos-webshop-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

html, body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

// :root {
//   @include mat.all-component-themes($globos-webshop-theme);
// }

@media (max-width: 768px) {
  .container-header {
    width: 95%;
    padding: 0 10px;
  }

  .logo img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    padding: 10px;
  }

  .container, .content {
    width: 95%;
    padding: 10px;
  }

  footer {
    font-size: 14px;
    padding: 10px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
