.ph {
    font-size: 2rem;
    color: #000000;
  }

  i.ph.ph-user, i.ph-users-three {
    font-size: 5rem;
    color: #ffffff;
  }
  
  .ph.ph-check {
    font-size: 1rem;
    color: #ffffff;
  }

  $gbs-color-black:#000000;
  $gbs-color-white:#ffffff;
  $gbs-color-snowflake:#f0f0f0;
  $gbs-color-light-gray:#f9f9f9;
  $gbs-color-athens-gray:#f8f9fa;
  $gbs-color-slate-gray:#6c757d;
  $gbs-color-mango-tango:#ff7f3f;
  $gbs-color-soft-gray:#e0e0e0;
  $gbs-color-linen:#ffede0;
  $gbs-color-light-salmon:#ffa07a;
  $gbs-color-caribean-green:#00bfa5;
  $gbs-color-midnight-blue:#00274d;
  $gbs-color-barley-white:#fff3cd;
  $gbs-color-steam:#ddd;
  $gbs-color-mercury:#e2e6ea;
  $gbs-color-onyx:#343a40;
  $gbs-color-ghost:#ccc;
  $gbs-color-desert-storm:#f8f8f8;
  $gbs-color-red: red;
  $gbs-color-ferrari-red: #ff2800;
  $gbs-color-bright-gray: #eee;
  $gbs-color-star-dust:#999;
  $gbs-color-orange:orange;
  $gbs-color-citron:#666;
  $gbs-color-globos-blue: #3393e3;
  $gbs-color-strong-blue: #005cbb;
  $gbs-color-eucalyptus: #28a745;

  body {
    font-family: 'Roboto', sans-serif, "Helvetica Neue", sans-serif;
  }
