<div class="travel-info-wrapper">
  <div class="coverage-summary-box">
    <h2>
      Uporedna tabela paketa
      <i
        class="ph-light ph-info pulsing-info-icon"
        style="cursor: pointer; font-size: 28px"
        (click)="openInfoModal()"
      ></i>
    </h2>

    <table class="coverage-table">
      <thead>
        <tr>
          <th>Asistencija i Opis</th>
          <th>CORIS Plus</th>
          <th>CORIS Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Godišnja premija osiguranja (RSD)</strong></td>
          <td>2.250,00</td>
          <td>3.900,00</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="coverage-summary-box">
    <h2>Izaberite paket osiguranja</h2>

    <div class="level-wrapper">
      <div class="level-row">
        <div class="level-inner">
          <gbs-insurance-coverage-level-feature
            [selectedTab]="selectedTab || null"
            [tabs]="this.tabs"
            (selectedTabChange)="onselectedTabChange($event)"
          ></gbs-insurance-coverage-level-feature>
        </div>

        <gbs-button
          [cid]="'dugmeZaDalje'"
          [text]="'Dalje >'"
          [inputStyle]="nextButtonStyles"
          [size]="Large"
          (clickEvent)="onNextButtonClicked()"
        ></gbs-button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showInfoModal" (click)="closeInfoModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <app-info-ponuda></app-info-ponuda>
  </div>
</div>
