:host {
  display: block;
  width: 100%;
}

.travel-info-wrapper {
  max-width: 100%;
  margin: auto;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.coverage-summary-box {
  max-width: 80%;
  margin: 0 auto;
  width: 100%; // Bitno da bude tu da bi poštovao max-width
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .action-link {
      color: #1e88e5;
      font-weight: 500;
      cursor: pointer;
    }

    .plus-icon {
      color: #1e88e5;
      font-size: 1.1rem;
    }
  }

  .coverage-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.95rem;

    th,
    td {
      padding: 12px;
      border-bottom: 1px solid #e0e0e0;
    }

    th {
      font-weight: 600;
      color: #666;
    }

    td {
      font-weight: 500;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
