<div class="travel-info-wrapper">
  <div class="coverage-summary-box">
    <h2>
      Uporedna tabela paketa
      <i
        class="ph-light ph-info"
        style="cursor: pointer; font-size: 24px"
        (click)="openAsistencijaDialog()"
      ></i>
    </h2>

    <table class="coverage-table">
      <thead>
        <tr>
          <th>Asistencija i Opis</th>
          <th>CORIS Plus</th>
          <th>CORIS Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Godišnja premija osiguranja (RSD)</strong></td>
          <td>2.250,00</td>
          <td>3.900,00</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="level-wrapper">
    <div class="level-row">
      <div class="level-inner">
        <gbs-insurance-coverage-level-feature
          [selectedTab]="selectedTab || null"
          [card]="selectedCard"
          [tabs]="this.tabs"
          (selectedCardChange)="onSelectedCardFromCoverage($event)"
          (selectedTabChange)="onselectedTabChange($event)"
          [isPremiumOnlySelected]="isPremiumOnlySelected"
        ></gbs-insurance-coverage-level-feature>
      </div>

      <gbs-button
        [cid]="'dugmeZaDalje'"
        [text]="'Dalje'"
        [inputStyle]="nextButtonStyles"
        [size]="Large"
        class="dalje-button"
        (clickEvent)="onNextButtonClicked()"
      ></gbs-button>
    </div>
  </div>
</div>
