<div class="button-container">
  <button *ngFor="let contractor of contractors" class="custom-button"
    [ngClass]="{'active-button': contractor.id === contractorType?.id}" (click)="setContractorType(contractor)">
    <i [ngClass]="contractor.id === 1 ? 'ph ph-user' : 'ph ph-buildings'"></i>
    <span>{{ contractor.name | translate }}</span>
    <div class="check-circle" *ngIf="contractor.id === contractorType?.id">
      <i class="ph ph-check"></i>
    </div>
  </button>
</div>


<div *ngIf="contractorType?.id === enumContratorFizickoLice || contractorType?.id === enumContratorPravnoLice">
  <gbs-contractor-info-feature  cid="contractorJMBG"
                              [isInsuredContractorShared]="isInsuredContractorShared" 
                              [contractorType]="contractorType"
                              [client]="client"
                              [contractor]="contractor"
                              [items_city]="items_city"
                              [contractor]="contractor"
                              [selectedValue_city]="selectedCity"
                              [contractorJmbg]="contractor?.registrationNumber"
                              [allJmbgs]="allJmbgs"
                              (contractorSelected)="onContractorSelect($event)"
                              (insuredContractorChange)="onInsuredContractorChanged($event)"
                              (contractorInfoChange)="onContractorInfoChange($event)"
                              (contractorMappedToInsurantInfo)="onMappedInsurantInfoFromContractor($event)">
  </gbs-contractor-info-feature>

</div>