<div id="app-container">
  <header class="header">
    <div class="container-header">
      <div class="logo">
        <img src="../assets/logo.svg" alt="Logo" loading="lazy"/>
      </div>
      <h1 class="section-badge">Putno osiguranje</h1>
    </div>
  </header>

  <div class="content">
    <div class="page-container">
      <div class="content-wrapper">
        <gbs-loader></gbs-loader>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


  <footer class="footer" id="footer">
    <div class="footer-info">
      <div class="footer-column">
        <div class="logoFooter">
          <img src="../assets/logo.svg" alt="Logo" loading="lazy"/>
        </div>
        <p><strong>Naziv:</strong> Globos osiguranje a.d.o</p>
        <p><strong>Sedište:</strong> Milutina Milankovića br. 23, Beograd (Novi Beograd)</p>
        <p><strong>Matični broj:</strong> 06936253</p>
        <p><strong>PIB:</strong> 100001079</p>
      </div>

      <div class="footer-column">
        <h3>Pomoć pri kupovini</h3>
        <p>(Pon-pet od 8:30h do 16:30h):</p>
        <p><strong>Telefon:</strong></p>
        <p>+381 11 655 0628</p>
        <p>+381 11 450 1304</p>
      </div>

      <div class="footer-column">
        <h3>CENTAR ZA POMOĆ</h3>
        <p><em>(Samo u slučaju nastanka osiguranog slučaja)</em></p>
        <p>Coris Asistencija</p>
        <p><strong>Telefon:</strong> +381 11 36 36 957</p>
        <p>Broj za Viber pozive iz inostranstva: Unesite u Viber pretraživač: Coris Srbija</p>
      </div>
    </div>
    
    <div class="logo-bar">
      <div class="logo-container">
        <a href="http://www.mastercard.com/rs/consumer/credit-cards.html" target="_blank">
          <img src="../assets/mc_vrt_opt_pos_46_2x.png" alt="Mastercard Premium" loading="lazy"/>
        </a>
        <img src="../assets/ms_vrt_opt_pos_45_2x.png" alt="Mastercard Standard" loading="lazy"/>
        <img src="../assets/Visa_Brandmark_Blue_Transp.png" alt="Visa" loading="lazy"/>
        <img src="../assets/dina-card-logo-300x140.png" alt="DinaCard" loading="lazy"/>
        <a href="https://www.otpbanka.rs/ " target="_blank">
          <img src="../assets/OPT logo za dokumenta PRINT COLOR.jpg" alt="OTP Banka" loading="lazy"/>
        </a>
        <a href="https://rs.visa.com/pay-with-visa/security-and-assistance/protected-everywhere.html" target="_blank">
          <img src="../assets/visa-secure_blu_300dpi.png" alt="Visa Secure" loading="lazy"/>
        </a>
        <img src="../assets/mc_idcheck_hrz_rgb_pos.png" alt="Mastercard ID Check" loading="lazy"/>
      </div>
    </div>
  </footer>
</div>
