<div class="stepper">
  <div class="step-container" *ngFor="let step of steps; let i = index">
    <div class="step-wrapper">
      <div class="step-circle"
           (click)="navigateToStep(step.route, i)"
           [class.completed]="step.completed"
           [class.active]="i === currentStepIndex"
           [class.disabled]="!step.completed && i > currentStepIndex">
          <span *ngIf="step.completed"><i [class]="iconCheck"></i></span>
      </div>
      <div class="step-text">
        <h3>{{ step.title }}</h3>
      </div>
    </div>
    <div class="step-line" *ngIf="i < steps.length - 1"></div>
  </div>
</div>

<div class="step-content">
  <router-outlet></router-outlet> 
</div>