<div>
  <gbs-policy-type
  [policies]="policies"
  [isFamilySelected]="isFamilySelected"
  [selectedPolicy]="selectedPolicy"

  [passengers]="passengers"
  [selectedStartDate]="selectedStartDate"
  [selectedEndDate]="selectedEndDate"
  [selectedDate]="selectedDate"
  [isInSerbia]="isInSerbia"
  [days]="days"
  [selectedAnnualDay]="selectedAnnualDay"
  [selectedDaysOptions]="selectedDaysOptions"
  [dateAndPassengersAnnual]="dateAndPassengersAnnual"
  [selectedAdditionalCoverages]="selectedAdditionalCoverages"
  [showStartDateError]="showStartDateError"
  [showEndDateError]="showEndDateError" 
  [showTerritoryError]="showTerritoryError"
  [showTerritoryErrorAnnual]="showTerritoryErrorAnnual"                 
  [showStartDateMinError]="showStartDateMinError"
  [showPassengerGroupEmptyError]="showPassengerGroupEmptyError" 
  [showPassengerLimitExceededError]="showPassengerLimitExceededError" 
  [showDurationError]="showDurationError"
  [showPassengerGroupEmptyErrorAnnual]="showPassengerGroupEmptyErrorAnnual" 
  [showPassengerLimitExceededErrorAnnual]="showPassengerLimitExceededErrorAnnual"
  [showNumberOfDaysError]="showNumberOfDaysError"
  [show71Error]="show71Error"
  [show71ErrorAnnual]="show71ErrorAnnual"
  (typeSelected)="onTypeSelected($event)" 
  (dateAndPassengersChanged)="onDateAndPassengersChanged($event)" 
  (dateAndPassengersAnnualChanged)="onDateAndPassengersAnnualChanged($event)"
  ></gbs-policy-type>
</div>