<h2 class="dialog-title mt-2">TABELE POKRIĆA</h2>
<div class="table-responsive" style="width: 100%; padding: 1rem 1rem;">
    <table class="table custom-table">
        <thead>
            <tr>
                <th>USLUGE MEDICINSKE ASISTENCIJE</th>
                <th>STANDARD</th>
                <th>PREMIUM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Upućivanje na lekara na osnovu prijavljenog zdravstvenog stanja i pružanje informacija o
                    zdravstvenim ustanovama koje su u blizini.
                    Troškovi prvog pregleda osiguranika, odnosno troškovi neophodnih medicinskih metoda potrebnih za
                    utvrđivanje radne dijagnoze.
                </td>
                <td colspan="2" rowspan="3">Do ugovorene sume osiguranja</td>
            </tr>
            <tr>
                <td>Lekarski saveti o daljim koracima, bez dijagnoze.</td>
            </tr>
            <tr>
                <td>Praćenje zdravstvenog stanja osiguranika i redovno informisanje o zdravstvenom stanju pacijenta.
                </td>
            </tr>
            <tr>
                <td>
                    Organizacija i nadoknada troškova prevoza (povratna karta ekonomske klase – autobuska, vozna ili
                    avio karta ukoliko je destinacija udaljena više od 1000km)
                    i smeštaja u hotelu (prenoćište sa doručkom) za jednog roditelja/staratelja radi posete osiguranika
                    – deteta mlađeg od 19 godina koje mora ostati u bolnici duže od tri dana i nalazi se u kritičnom
                    stanju. Poseta može trajati do pet dana.
                </td>
                <td>do 200 EUR</td>
                <td>do 1.000 EUR</td>
            </tr>
            <tr>
                <td>
                    Organizacija i nadoknada troškova smeštaja u bolnici za roditelja/staratelja radi posete osiguranika
                    – deteta mlađeg od tri godine. Poseta može trajati pet dana.
                </td>
                <td colspan="2">do 40 EUR dnevno</td>
                <!-- <td></td> -->
            </tr>
            <tr>
                <td>
                    Organizacija i nadoknada troškova prevoza i smeštaja (hotel do 3 zvezdice, prenoćište sa doručkom)
                    za osobu koju je izabrao osiguranik, ako je poseta neophodna, do pet dana.
                </td>
                <td>do 200 EUR</td>
                <td>do 1.000 EUR</td>
            </tr>
            <tr>
                <td>
                    Slanje i primanje hitnih poruka.<br>
                    Ako za to postoji opravdan razlog, Osiguranik može u bilo koje vreme u toku dana (24 časa),
                    preko asistentske kompanije besplatno poslati ili primiti hitnu poruku koja je u vezi sa osiguranim
                    slučajem.
                </td>
                <td colspan="2">Do ugovorene sume osiguranja</td>
            </tr>
            <tr>
                <td>
                    Prevođenje sa engleskog na srpski jezik u komunikaciji sa medicinskim osobljem u slučaju hitnosti.
                </td>
                <td colspan="2">Do ugovorene sume osiguranja</td>
            </tr>
            <tr>
                <td>
                    Pokriće COVID-19, na osnovu preporuke ovlašćenog lekara:
                    <ul>
                        <li>testiranje na COVID-19;</li>
                        <li>redovan i uobičajen pregled i dijagnostika zbog zdravstvenih tegoba osiguranika;</li>
                        <li>smeštaj u izolaciji i troškovi izmene rezervacije smeštaja i/ili karata u slučaju da je
                            rezultat testa pozitivan.</li>
                    </ul>
                    Osiguravač ne može uticati na medicinska pravila lečenja COVID-19 u drugim zemaljama.
                </td>
                <td colspan="2">Do ugovorene sume osiguranja</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th style="text-align: center;">TROŠKOVI LEČENJA</th>
                <th>STANDARD</th>
                <th>PREMIUM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Ambulantno (vanbolničko) lečenje (dnevna bolnica)
                </td>
                <td colspan="2" rowspan="7" style="text-align: center;">Do ugovorene sume osiguranja</td>
            </tr>
            <tr>
                <td>Lekovi i zavoji prepisani od strane ovlašćenog lekara</td>
            </tr>
            <tr>
                <td>Hitna dostava lekova</td>
            </tr>
            <tr>
                <td>
                    Medicinska pomagala i pomagala za hodanje ukoliko su neophodan deo tretmana i prepisao ga je
                    ovlašćeni lekar
                </td>
            </tr>
            <tr>
                <td>Opravdane dijagnostičke procedure prema mišljenju medicinskog tima </td>
            </tr>
            <tr>
                <td>Hospitalizacija (bolničko lečenje) u najbližoj odgovarajućoj bolnici</td>
            </tr>
            <tr>
                <td>Operacija i troškovi vezani za operaciju, kao i postoperativni tretman</td>
            </tr>
            <tr>
                <td>Stomatološki tretman akutne zubobolje (maksimalno za dva zuba)</td>
                <td>do 150 EUR</td>
                <td>do 300 EUR</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table custom-table">
        <thead>
            <tr>
                <th>MEDICINSKA EVAKUACIJA I REPATRIJACIJA</th>
                <th>STANDARD</th>
                <th>PREMIUM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Transport do najbližeg lekara ili bolnice (ambulantnim/kolima hitne pomoći, taxi vozilom ili nekim
                    drugim prevoznim sredstvom) ukoliko je medicinski opravdano.</td>
                <td colspan="2">Do ugovorene sume osiguranja</td>
            </tr>
            <tr>
                <td>Transport i smeštaj u bolnicu koja je pogodnija za lečenje (prioritetno ustanovu iz mreže ukoliko
                    ista postoji na destinaciji),
                    u slučaju da ovlašćeni lekar iz bolnice u kojoj se Osiguranik trenutno nalazi proceni da ta bolnica
                    nema mogućnosti da pruži adekvatnu medicinsku pomoć.
                    U tom slučaju, procedura premeštaja Osiguranika u adekvatnu ustanovu baziraće se na medicinskoj
                    dokumentaciji
                    koju će izdati ovlašćeni lekar bolnice u kojoj se Osiguranik trenutno nalazi.</td>
                <td>do 100 EUR</td>
                <td>do 200 EUR</td>
            </tr>
            <tr>
                <td>Repatrijacija do mesta stanovanja Osiguranika odnosno do bolnice i troškovi transporta za osobu koja
                    prati osiguranika ako je to medicinski određeno ili službeno neophodno. Repatrijacija
                    specijalizovanim avionom – air ambulance-om, kada je neophodna, ograničena je na kontinentalne
                    letove.
                    <br>
                    Osiguravač i asistentska kompanija nisu obavezni da obezbede prijem Osiguranika u bolnici u Srbiji.
                </td>
                <td>do 3.000 EUR</td>
                <td>do 5.000 EUR</td>
            </tr>
            <tr>
                <td>Repatrijacija dece mlađe od 15 godina koja su ostala bez pratnje usled nastanka osiguranog slučaja.
                    Pokriveni su i troškovi prevoza pratioca, ako je detetu neophodna pratnja.</td>
                <td>do 500 EUR</td>
                <td>do 1.000 EUR</td>
            </tr>
            <tr>
                <td>Repatrijacija posmrtnih ostataka, najracionalnijim prevoznim sredstvom, do ustanove u zemlji
                    prebivališta u kojoj se čuvaju posmrtni ostaci do sahrane ili troškovi sahrane u mestu smrti u
                    inostranstvu, uz isključenje troškova sahrane u zemlji prebivališta. </td>
                <td>do 3.000 EUR </td>
                <td>do 5.000 EUR</td>
            </tr>
            <tr>
                <td>Rizik spasavanja (na primer ukoliko je Osiguranik pretrpeo nezgodu na planini ili preminuo, nakon
                    čega je nastala potreba za spasavanjem).</td>
                <td>Nije pokriveno</td>
                <td>do 7.000 EUR</td>
            </tr>
            <tr>
                <td colspan="3">
                    Asistentska kompanija izvršiće repatrijaciju Osiguranika čim to zdravstveno stanje Osiguranika
                    dozvoli prema mišljenju lekara i proceni medicinskog tima. Transport će se vršiti najekonomičnijim
                    prevoznim sredstvom sa kojim su se saglasili lekari i medicinski tim. Osiguravač i asistentska
                    kompanija nisu obavezni da obezbede prijem osiguranika u bolnici u Srbiji.
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table custom-table">
        <thead>
            <tr>
                <th style="text-align: center;">USLUGE PUTNE ASISTENCIJE</th>
                <th>STANDARD</th>
                <th>PREMIUM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Informisanje pre putovanja o sledećem:
                    <ul>
                        <li>informacije o vizama i pasošima;</li>
                        <li>informacije o vakcinama koje su potrebne za put u stranu zemlju; </li>
                        <li>informacije o kursevima stranih valuta i porezima na dodatu vrednost;</li>
                        <li>lokalnim državnim praznicima, vremenskim razlikama;</li>
                        <li>informacije o ambasadama i konzulatima, vizama i administrativnim formalnostima, koje treba
                            ispuniti za lica i vozila pre i za vreme puta</li>
                    </ul>
                </td>
                <td rowspan="2">Nije pokriveno</td>
                <td rowspan="2">Do ugovorene sume osiguranja</td>
            </tr>
            <tr>
                <td>Informacije o šlep službi i automehaničarskim radionicama</td>
            </tr>
            <tr>
                <td>Slanje i primanje hitnih poruka</td>
                <td colspan="2">Do ugovorene sume osiguranja</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table custom-table">
        <thead>
            <tr>
                <th style="text-align: center;">USLUGE PRAVNE ASISTENCIJE</th>
                <th>STANDARD</th>
                <th>PREMIUM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Pravna asistencija obuhvata sledeće usluge:
                    <ul>
                        <li>organizovanje pravne pomoći, upućivanjem na advokata, kada je osiguraniku neophodna pravna
                            zaštita za vreme boravka u inostranstvu (troškove advokatskog honorara plaća Osiguranik),
                        </li>
                        <li>upućivanje Osiguranika na predstavnike lokalnih organa vlasti, stranih konzulata i
                            turističkih informativnih centara,</li>
                        <li>Informacije o carinskim propisima i dažbinama,</li>
                        <li>Administrativna pomoć u slučaju krađe ili gubitka dokumenata.</li>
                    </ul>
                </td>
                <td>Nije pokriveno</td>
                <td>Do ugovorene sume siguranja</td>
            </tr>
            <tr>
                <td colspan="3">Asistentskim uslugama nisu pokriveni slučajevi koji su nastali prilikom, u toku ili kao posledica
                    izvršenja krivičnog dela ili prekršaja od strane Osiguranika koji su kažnjivi po lokalnim propisama
                    zemlje boravka.</td>
            </tr>
        </tbody>
    </table>
</div>